@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Raleway';
  font-weight: 700;
  src: url('./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}
@font-face{
  font-family: "Raleway";
  font-weight: 500;
  src: url('./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}
@font-face{
  font-family: "Raleway";
  font-weight: 200;
  src: url('./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-weight: 200;
  position: relative;
  /* overflow: hidden; */
  background-color: #090E16;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
