@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Centra';
  font-weight: 700;
  src: url('./assets//fonts/CentraNo2-Bold.ttf');
}
@font-face{
  font-family: "Centra";
  font-weight: 500;
  src: url('./assets//fonts/CentraNo2-Medium.ttf');
}
@font-face{
  font-family: "Centra";
  font-weight: 400;
  src: url('./assets//fonts/CentraNo2-Book.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-weight: 400;
  position: relative;
  overflow: hidden;
  background-color: #090E16;
  color: #fff;
  font-family: 'Centra', sans-serif;
}
